.search {
    width: 100%;
    padding: 3rem 0;
    text-align: center;
  }
  
  .search .container {
    padding: 0 1rem;
  }
  
  .search .left {
    text-align: center;
    margin: auto;
  }
  
  .search h2 {
    text-align: center;
  }
  
  .search p {
    text-align: center;
  }
  

@media screen and (max-width: 940px) {
    .search .container {
        grid-template-columns: 1fr;
    }

    .search-col-2 {
        grid-template-columns: 1fr;
    }

    .search .right {
        max-width: 100%;
    }

    .search form {
        width: 100%;
    }

    .search .date {
        flex-direction: column;
    }
}