    .hero {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
        color: #fff;
        position: relative;
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.1);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    #video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .hero .content {
        position: absolute;
        top: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin: auto;
        margin-bottom: 1rem;
        padding: 1rem;
    }

    .hero .content h1 {
        margin-bottom: 2rem;
    }    

    .form {
        display: flex;
        background-color: #ffffffcc;
        color: #000;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #ccc;
        padding: 4px;
        border-radius: 8px;
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
    }

    .form input[type=text] {
        border: transparent;
        background-color: transparent;
        width: 400px;
        font-size: 1.2rem;
        font-family: 'Poppins',sans-serif;
    }

    .form input[type=text]:focus {
        outline: none;
    }

    @media screen and (max-width: 940px) {
        .form input[type=text] {
            max-width: 275px;
        }

    }